/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~@fortawesome/fontawesome-free/css/all.css";

@font-face {
  font-family: "Exo";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/Exo2-MediumCondensed.woff");
}

/* stylelint-disable */
* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}
/* stylelint-enable */

body {
  background-color: #000;
  /*background-image: radial-gradient(#222, #000);*/
  color: #fff;
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
  overflow-y: hidden;
  position: relative;
}

h2 {
  color: #fff;
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  margin: 0;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: #fff;
  opacity: 0.75;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    opacity: 1;
    text-decoration: none;
  }
}
